/* Navbar.css */
nav {
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  background-color: #10403B;
  color: white;
  padding: 10px;
  width: auto;
  padding-left: 170px;
  border-bottom: 1px solid  #BFBFBF;
  z-index: 3;
  width: 100vw;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

li {
  flex: 1;
}

a {
  text-decoration: none;
  font-family: mixta-didone, serif;
  color: #BFBFBF;
  padding-left: 10px;
  transition: background-color 0.3s ease;
  text-align: center;
}

a:hover {
  color: #127369;
}
