
@media only screen and (max-width: 600px) {
    .textContainerStyles p{
        font-size: 10px;
    }
  }

h2{
    color: #BFBFBF;
    font-family: mixta-didone, serif;
    font-weight: 30;
    font-size: 30px;
}



  
  .line-container {
    display: flex;
    align-items: center;
    height: 100vh; /* Adjust as needed to fill the entire viewport height */
  }
  
  .seperator {
    width: 2px; /* Adjust the thickness of the line as needed */
    height: 50%; /* Adjust the length of the line as needed */
    background-color: black; /* Adjust the color of the line as needed */
    margin: 0 auto; /* Center the line horizontally */
  }


  .textContainerStyles {
    width: 60%;
}

  #titleStyles{
    width:60%;
    text-align: center;
  }

.film-bio {
  text-align: justify;  /* Spreads the text to justify both sides */
  text-align-last: center; /* Center-align the last line */
  line-height: 1.6; /* Improves readability */
  font-size: 1rem;
  font-style: italic;
}

.slider-container {
  width: 90%; /* Default width */
  max-width: 1000px;
  margin: 0 auto;
}
